{% extends 'base.html' %} {% load static %} 

{% block content %}
<body>
  <!-- Main Content -->
  <main>
    <div class="hero-img">
      <img
        src="../static/images/hero-img1.png"
        alt="Couple with eyes closed smiling"
      />
      <div class="text-overlay">
        <p id="phome">Let people Match, let people</p>
        <h1 id="h1home">Ignite</h1>
      </div>
    </div>
    <div class="hero-img">
      <img src="../static/images/hero-img2.png" alt="Couple smiling" />
      <div
        id="carouselExampleAutoplaying"
        class="carousel slide text-overlay"
        data-bs-ride="carousel"
        data-bs-interval="2000"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <p>Register</p>
          </div>
          <div class="carousel-item">
            <p>Discover your Match</p>
          </div>
          <div class="carousel-item">
            <p>Connect with your Match!</p>
          </div>
        </div>

        </div>
      </div>
    </div>
    <div class="hero-img">
      <img
        src="../static/images/hero-img3.png"
        alt="Couple smiling by the sea"
      />
    </div>
  </main>
</body>
{% endblock %}

