{% extends 'base.html' %} {% load static %} {% block content %}
<body>
  <!-- Main Content -->
  <main>
    <div class="hero-img">
      <img
        src="../static/images/hero-img1.png"
        alt="Couple with eyes closed smiling"
      />
    </div>
    <div class="hero-img">
      <img
        src="../static/images/hero-img2.png"
        alt="Couple with eyes closed smiling"
      />
    </div>
    <div class="hero-img">
      <img
        src="../static/images/hero-img3.png"
        alt="Couple with eyes closed smiling"
      />
    </div>
  </main>
</body>
{% endblock %}
