{% load static %}

<footer>
  <div>
    <ul id="social-links">
      <li>
        <a
          href="https://www.facebook.com"
          target="_blank"
          rel="noopener"
          aria-label="Visit my facebook page"
        >
          <i class="fa-brands fa-facebook"></i>
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com"
          target="_blank"
          rel="noopener"
          aria-label="Visit my linkedin page"
        >
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </li>
      <li>
        <a
          href="https://www.instagram.com"
          target="_blank"
          rel="noopener"
          aria-label="Visit my instagram page"
        >
          <i class="fa-brands fa-square-instagram"></i>
        </a>
      </li>
      <li>
        <a
          href="https://www.tiktok.com"
          target="_blank"
          rel="noopener"
          aria-label="Visit my tiktok page"
        >
          <i class="fa-brands fa-tiktok"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>

<!-- Font Awesome Kit -->
<script
  src="https://kit.fontawesome.com/dceba04a03.js"
  crossorigin="anonymous"
></script>
