{% extends 'base.html' %}
{% load static %}


{% block content %}
{% include 'includes/navbar.html' %}

<!-- About -->
<div id="about">

<!-- Header Section -->
<div class="container-fluid" id="about-header">
    <div class="row p-3 text-center align-items-center"> 
        <div class="col-md-6">
            <h2 class="p-1">Find Your Spark & <br> Ignite New Connections</h2>
            <p class="p-1">Express yourself, connect with others, and ignite something real.</p>
        </div>
        <div class="col-md-6" id="header-image"></div>
        </div>
    </div>
</div>

<!-- Main Section  -->
<section class="container-fluid" id="about-main-1">
    <div class="row">
        <div class="col-12">Why Igninte?</div>
        <div class="col-12 col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body text-center">
                  <h1 class="card-title"><i class="fas fa-user-group"></i></h1>
                  <h5 class="card-title">Match based on spark</h5>
                  <p class="card-text">Discover people who align with your personality, interests, and values—not just their looks.</p>
                </div>
              </div>
        </div>
        <div class="col-12 col-md-4">Pogressive matching</div>
        <div class="col-12 col-md-4">Inclusive and safe</div>
    </div>
</section>

<section class="container-fluid" id="about-main-2">
    <div class="row">
        <div class="col-12 center">How it works</div>
        <div class="col-12 col-md-4">Step1</div>
        <div class="col-12 col-md-4">Step2</div>
        <div class="col-12 col-md-4">Step3</div>
    </div>
</section>

<!-- CTA Section -->
<section class="container-fluid" id="about-cta">
    <div class="row">
        <div class="col-12">
            <h1>Ready to Ignite?</h1>
        </div>
        <div class="col-12">Signup</div>
        <div class="col-12">Text</div>
    </div>
</section>

</div>
{% endblock %}